@import 'normalize','settings','variables';

//TYPOGRAPHY AND COLORS ----START

body {
    font-family: 'Open Sans', sans-serif;
    background:$background-body;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
}

button {
    font-family: 'Raleway', sans-serif;
    background: $background-button;
}

footer {
    background: $background-footer;
    color: $color-footer;
}

.intro {
    background: $background-intro;
    color: $color-intro;
}

.sign-up {
    background: $background-sign-up;
    color: $color-sign-up;
}

//TYPOGRAPHY AND COLORS ----END

